<% if @user %>
    <h3>Select a Photo</h3>
    <div class="list">
        <ul class="photos">
            <% @photos.each_with_index do |photo, index| %>
                <li>
                <a href="#" onclick="window.location('../doodles/new/<%= photo['id'] %>')">
                    <img width="94px" height="70px" src="<%= photo['picture'] %>)" />
                </a>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="clearfix"></div>
<% end %>
