<% if @user %>
    <h3>Select a Photo</h3>
    <div class="span12">
        <ul class="gridlist">
            <% @photos.each_with_index do |photo, index| %>
                <li>
                <a href="../<%= photo['id'] %>">
                    <img width="94px" height="70px" src="<%= photo['picture'] %>)" />
                </a>
                </li>
            <% end %>
        </ul>
            <a href="/new?page=<%= CGI.escape @photos.paging['previous'] %>">prev</a>
            <a href="/new?page=<%= CGI.escape @photos.paging['next'] %>">next</a>
    </div>
    <div class="clearfix"></div>
<% end %>
